<!-- https://www.youtube.com/watch?v=aFXH_DvuVeQ&ab_channel=JavierDottori -->

<h1>Lista de Cervezas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compras</th>
        </tr>
    </thead>
    <tbody>
        <!-- Recorre el arreglo de cervezas -->
        <tr *ngFor="let beer of beers" [ngClass]="{'clearance':beer.clearance}">
            <td><img width="90" class="img-thumbnail" [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td>
                <span class="badge bg-info" *ngIf="beer.stock>0">{{beer.stock}}</span>
                <span class="badge bg-warning text-dark" *ngIf="beer.stock==0">SIN STOCK</span> </td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="downQuantity(beer)">-</button>
                <input type="text" [(ngModel)]="beer.quantity">
                <button class="btn btn-primary btn-sm" (click)="upQuantity(beer)">+</button></td>
        </tr>

    </tbody>
</table>